{% extends 'login_register/layout.html' %}
{% load static %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="container login-background login-mb-bkg">
    <div class="left-empty-block">
        <!-- Empty Container -->
    </div>
    <div class="right-form-block">
        <div class="form">
            <a href="{% url 'main:main' %}"><img src="{% static 'main/images/login-logo.svg' %}" alt="logo"></a>
            <form action="{% url 'login_register:login' %}" method="post">
                {% csrf_token %}
                <h1>Log in</h1>

                <div class="form-itm">
                    {{form.username.label}}
                    {{form.username}}
                </div>

                <div class="form-itm">
                    {{form.password.label}}
                    {{form.password}}
                </div>

                {% if form.non_field_errors %}
                <div class="errors">
                    {{form.non_field_errors}}
                </div>
                {% endif %}

                <button type="submit">Log in</button>
                <a href="{% url 'login_register:register' %}">Create an account</a>
            </form>
        </div>
    </div>
</div>
{% endblock body %}