{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'main/styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/styles/main.css' %}">
</head>

<body>
    <div class="{{background}}">
    </div>
    <div class="header">
        <a href="{% url 'main:home' %}"><img src="{% static 'main/images/login-logo.svg' %}" alt="logo"></a>

        <div class="navbar">
            <a href="{% url 'main:home' %}">home</a>
            <a href="{% url 'main:about' %}">about</a>
            <a href="{% url 'profile_app:profile' %}">profile</a>
            <a href="{% url 'login_register:logout' %}">logout</a>
        </div>
    </div>

    <div class="main-container">

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        {% block body %}
        {% endblock body %}

    </div>


    {% block script %}

    {% endblock script %}


</body>

</html>