{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
About
{% endblock title %}

{% block body %}
<div class="first-container" id="container">
    <div class="second-container">
        <h1>About the site and the Developer</h1>
        <p>I am Bayajit Mohammed, and I am a beginner level web developer who is trying to be the best in the field.
            This is the first project that I build from complete scratch. It's a dummy web application for sharing
            people's thoughts and discussing those thoughts with others. It's more like a Facebook post system or
            twitter tweets. I first thought to completely replicate one of the big social media, but since this project
            is for one of my courses that I am doing online I didn't have to go too overboard with it and they wanted a
            simple app. Besides I am still learning about web and programming so making the perfect app was still
            difficult for me and I hope to make better app in future through my experiences. Making this web application
            was painful and challenging for me (I am sure experienced would find it easy) that I was actually having
            fun. I also learned a ton of thing while making this app about web and honestly sometimes it blew my mind
            that how complex the web is. 'So the internet was not a magical thing that came out of satellite in the
            space, huh?!' was the first thing I was surprised about. Yeah, I know it was pretty dumb but there was so
            much wrong perception about technology I had that was debunked while learning and making this app. Overall I
            had a great experience building it, I hope to grow, learn more, and evolve.</p>
    </div>
</div>
{% endblock body %}